{% stylesheets
'@BaseBundle/Resources/public/less/style.less'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% block head %}<head><title>{% block title %}Photo Challenge!{% endblock %}</title></head>{% endblock %}
{% block header %}
{{ render(controller("FOSUserBundle:Security:login")) }}
{% endblock %}
{% block content %}
{% endblock %}