{% extends "MopaBootstrapBundle::base_less.html.twig" %}
{% block title %}Photo Challenge!{% endblock title %}
{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' %}
        {% block menu %}
            <div class="navbar navbar-default">
                <div class="navbar-inner">
                    {{ render(controller('ChallengeBundle:Player:joinChallengeForm')) }}
                    {{ mopa_bootstrap_menu('BaseBundle:Builder:mainMenu') }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock navbar %}
{% block page_header %}
    <div></div>
{% endblock page_header %}
{% block content %}
<div class="content">Shit</div>
{% endblock %}
