<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
    <div id="header">
        {% embed "UserBundle::index.html.twig" %}
        {% endembed %}
    </div>
    <div id="content">
        <!-- Content stuff goes here -->
    </div>
    <div id="footer">
        <!-- Footer stuff goes here -->
    </div>
    </body>
</html>