{% extends 'BaseBundle:Default:index.html.twig' %}

{% block content %}
    <a href="{{ path('challenge_add_new') }}">New challenge</a><br/>
    <a href="{{ path('challenge_list_all') }}">List all challenges</a>
{% endblock %}