{% extends 'BaseBundle:Default:index.html.twig' %}

{% block content %}
    Challenge list updated successfully!<br/>
    <a href="{{ path('challenge_list_all') }}">Back to challenge list</a>
{% endblock %}