{% extends 'BaseBundle:Default:index.html.twig' %}
{% block content %}
    <div class="right-sidebar">
        <div class="well col-md-3 col-md-offset-1">
            <h2 class="panel-title">My recent challenges</h2>
        </div>
    </div>
    <div class="row">
    {% if challenges is empty %}
        <div class="well col-md-8" style="margin: 0 auto; text-align: center;">Looks like there is nothing going on here...
        <h1><a href="{{ path('participate',{'type' :1}) }}" class="btn btn-success btn-lg">Start a new challenge?</a></h1></div>
    {% endif %}
    {% for challenge in challenges %}
    <div class="panel panel-warning col-md-8">
        <div class="panel-heading">
            <h2 class="panel-title">{{ challenge.getTheme.getName }} | <a href="{{ path('show_challenge', {'eventId': challenge.getId}) }}"><span style="font-family: sans-serif; font-size: 80%;">view challenge</span></a></h2>
        </div>
        <div class="panel-body">
            <div class="carousel">
                {% for playerToChallenge in challenge.getPlayerToChallenges %}
                <div><a href=""><img width="200px" src="{{ vich_uploader_asset(playerToChallenge.getImage, 'image') }}" /></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <script>
        $(document).ready(function(){
            $('.carousel').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3
            })
        });
    </script>
{% endblock %}