{% extends 'BaseBundle:Default:index.html.twig' %}

{% block title %}Participate{% endblock %}

{% block content %}
    <a href="#">Challenge me!</a><br/>
    Manage themes:<br/>
    <a href="{{ path('challenge_new') }}">New challenge theme</a><br/>
    <a href="{{ path('theme_list_all') }}">List all challenge themes</a>
{% endblock %}