{% extends 'BaseBundle:Default:index.html.twig' %}

{% block content %}
    You are logged in!<br/>
    Ongoing challenges:<br/>
    <div>
    {% for challenge in challenges %}
        <div class="carousel">
            {% for playerToChallenge in challenge.getPlayerToChallenges %}
            <div><a href=""><img width="200px" src="{{ vich_uploader_asset(playerToChallenge.getImage, 'image') }}" /></a></div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <script>
        $(document).ready(function(){
            $('.carousel').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3
            })
        });
    </script>
{% endblock %}