{% extends 'BaseBundle:Default:index.html.twig' %}

{% block content %}
    You are logged in!<br/>
    Ongoing challenges:<br/>
    <ul style="list-style-type: none">
    {% for challenge in challenges %}
        <li><a href="{{ path('show_challenge', {'eventId': challenge.getId}) }}">{{ challenge.getTheme }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}