{% extends 'BaseBundle:Default:index.html.twig' %}

{% block body %}
    Temos, esančios duomenų bazėje:<br/>

    <table border="1">
        <tr><td>ID</td><td>NAME</td></tr>
    {% for item in themes %}
        <tr>
            <td>{{ item.getId }}</td><td>{{ item.getName }}</td>
        </tr>
    {% endfor %}

    </table>
{% endblock %}