{% extends 'BaseBundle:Default:index.html.twig' %}

{% block body %}
    Tema:
    {% block fos_user_content %}<p style="font-size:30px;background: #eeeeee;width: 250px;">Logged in content</p>{% endblock %}
{% endblock %}