{% extends 'BaseBundle:Default:index.html.twig' %}

{% block content %}
    <a href="{{ path('theme_add_new') }}">New challenge theme</a><br/>
    <a href="{{ path('theme_list_all') }}">List all challenge themes</a>
{% endblock %}