{% extends 'BaseBundle:Default:index.html.twig' %}
{% block content %}
    <form class="form-horizontal" action="{{ path('player_photo_upload') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-inverse">Upload</button>
            </div>
        </div>
    </form>
{% endblock %}