{% extends 'BaseBundle:Default:index.html.twig' %}
{% block content %}
    {% for player in players %}
        <a href="{{ path('vote', {'playerToChallengeId': player.getId }) }}"><img src="{{ vich_uploader_asset(player.getImage, 'image') }}" alt="" /></a>
        {{ player.getVoteCount }}
    {% endfor %}
{% endblock %}