{% extends 'BaseBundle:Default:index.html.twig' %}
{% block content %}
<div class="jumbotron" style="text-align: center; margin: 0 auto;">
    <h2>Theme "{{ theme }}"</h2>
    <img src="{{ vich_uploader_asset(myphoto, 'image') }}" alt="" />
</div>
{% endblock %}