{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if app.user is null %}
        <a href="{{ path("fos_user_profile_edit") }}">{{ 'profile.show.edit'|trans({},'FOSUserBundle') }}</a>
        <hr />
    {% endif %}
    {% if app.user.getImage is not null %}
        <img src="{{ vich_uploader_asset(app.user.getImage, 'image') }}" alt="{{ app.user }}" />
    {% endif %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
